name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # restaurant-service
      - name: Install deps (restaurant)
        working-directory: restaurant-service
        run: pip install -r requirements.txt

      - name: Build restaurant-service
        working-directory: restaurant-service
        run: docker build . -t restaurant-service:test

      - name: Run restaurant-service
        run: |
          docker run -d -p 8001:80 --name restaurant-test restaurant-service:test
          sleep 10

      - name: Test restaurant-service
        working-directory: restaurant-service
        run: pytest tests || true

      - name: Stop restaurant-service
        run: |
          docker stop restaurant-test
          docker rm restaurant-test

      # amenity-service
      - name: Install deps (amenity)
        working-directory: amenity-service
        run: pip install -r requirements.txt

      - name: Build amenity-service
        working-directory: amenity-service
        run: docker build . -t amenity-service:test

      - name: Run amenity-service
        run: |
          docker run -d -p 8002:80 --name amenity-test amenity-service:test
          sleep 10

      - name: Test amenity-service
        working-directory: amenity-service
        run: pytest tests || true

      - name: Stop amenity-service
        run: |
          docker stop amenity-test
          docker rm amenity-test

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ vars.DOCKER_PASSWORD }}

      - name: Build & push images
        run: |
          docker build restaurant-service \
            -t ${{ vars.DOCKER_USERNAME }}/restaurant-service:latest
          docker build amenity-service \
            -t ${{ vars.DOCKER_USERNAME }}/amenity-service:latest

          docker push ${{ vars.DOCKER_USERNAME }}/restaurant-service:latest
          docker push ${{ vars.DOCKER_USERNAME }}/amenity-service:latest
